/* HSL */
nav li a {
  background-color: none; }

a {
  text-decoration: none !important; }

h1 {
  font-family: "Lakki Reddy", cursive !important; }

h2 {
  font-family: serif !important; }

body {
  overflow-x: hidden;
  height: 2000px; }

.container {
  position: relative; }

.navbar {
  transition: all 0.5s ease-in-out;
  font-size: 1.6rem; }
  .navbar li:hover, .navbar li:focus {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-bottom: 2px solid #3366CC; }
  .navbar li a {
    margin-top: 5px;
    color: white; }
    .navbar li a:hover {
      background-color: rgba(0, 0, 0, 0.1) !important; }
  .navbar .navbar-brand {
    font-size: 2.3rem;
    font-family: "Lakki Reddy", cursive;
    margin-left: 50px;
    margin-top: 10px; }
  .navbar .icon-bar {
    background-color: white; }
  .navbar .navbar-right {
    margin-right: 40px; }

.navbar-expand {
  font-size: 1.6rem;
  transition: all 0.2s ease-in-out;
  background-color: white; }
  .navbar-expand li a {
    color: black; }

.header-image {
  height: 70vh;
  background-image: url(../images/header-image.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed; }
  .header-image .overlay {
    position: absolute;
    height: 70vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8); }
  .header-image .text-overlay {
    color: white;
    position: relative;
    text-align: center;
    margin: 20vh auto auto 0; }
    .header-image .text-overlay h1 {
      font-size: 3.5rem;
      font-family: "Lakki Reddy", cursive; }
    .header-image .text-overlay h3 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      font-family: serif; }
    .header-image .text-overlay hr#small {
      margin-left: 45vw;
      margin-right: 45vw; }
  .header-image #btn-team {
    font-size: 2.5rem;
    font-family: serif;
    transition: all 0.5s ease-in-out;
    border-radius: 0%;
    background-color: rgba(0, 51, 153, 0.3); }
    .header-image #btn-team:hover {
      background-color: rgba(0, 51, 153, 0.8); }
  .header-image #btn-register {
    font-size: 2.5rem;
    font-family: serif;
    transition: all 0.5s ease-in-out;
    margin-left: 20px;
    border-radius: 0%;
    background-color: rgba(0, 100, 0, 0.3); }
    .header-image #btn-register:hover {
      background-color: darkgreen; }

.plans .about-image {
  height: 300px;
  width: 400px;
  margin-top: 30px;
  border-radius: 50%;
  box-shadow: 5px 2px 20px rgba(0, 51, 153, 0.3); }
  @media screen and (max-width: 480px) {
    .plans .about-image {
      height: 200px;
      width: 300px; } }

.plans .fa {
  margin-top: 30px;
  color: #3366CC;
  font-size: 4.3rem; }

.plans h2 {
  font-size: 2.6rem; }

.plans p {
  font-size: 1.6rem;
  font-family: serif; }

.pentru-cine {
  position: relative;
  margin-top: 30px;
  height: 400px;
  background-image: url(../images/two-kids.jpg);
  background-attachment: fixed;
  background-size: cover; }
  .pentru-cine .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute; }
    .pentru-cine .overlay .text-overlay {
      color: white;
      margin-top: 25vh; }
      .pentru-cine .overlay .text-overlay h1 {
        font-size: 4rem; }
      .pentru-cine .overlay .text-overlay h4 {
        font-size: 2.4rem;
        font-family: serif; }

.echipa {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px 2px 20px black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .echipa .card {
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out;
    border-radius: 5%;
    position: relative;
    margin-top: 12vh;
    margin-right: 50px;
    height: 300px;
    width: 330px;
    background-color: white; }
    .echipa .card:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
      border: 1px solid blue; }
    .echipa .card .card-img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      margin-top: -50px;
      box-shadow: 0px 2px 10px; }

#echipa-h1 {
  color: white;
  padding-top: 20px; }

.contact {
  height: 300px; }

.footer {
  text-align: center;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  background-attachment: fixed; }
  .footer h4 {
    margin-top: 30px;
    attachment: fixed;
    color: white; }
  .footer ul {
    attachment: fixed;
    list-style-type: none;
    padding-left: 0px; }

.go-top {
  transition: all 0.5s ease-in-out;
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  padding: 1em;
  display: none; }
  .go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

@media (max-width: 989px) {
  .navbar-brand {
    margin-left: 0px !important; } }

@media (max-width: 480px) {
  .navbar-brand {
    position: absolute;
    margin-top: 5px !important; }
  .overlay .text-overlay {
    margin-top: 17vh; }
  #resized {
    font-size: 2.6rem; } }
