doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Jurnalism Pentru Copii
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width= device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/aos.css")
    link(rel="icon",type="image/png", href="images/favicon.png")
    link(href="css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lakki+Reddy" rel="stylesheet")

    

  body


  nav.navbar.navbar-fixed-top( role="navigation" )
      .navbar-header
          button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
              span.sr-only 
              span.icon-bar 
              span.icon-bar
              span.icon-bar
          a.navbar-brand(href="#") Jurnalism Pentru Copii
   
      #navbar-inverse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
              li.active: a(href="index.html") Acasa
              li: a( href="about.html") Despre
              li: a( href="objectives.html") Obiectivele Cursului
              li: a( href="consultanta.html") Consultanta
              li: a( href="inscriere.html") Inscriere
              li: a( href="contact.html" ) Contact
        

  .header-image
    .overlay
      .text-overlay(data-aos="fade-up")
        h1 Jurnalism Pentru Copii
        hr#small
        h3 Oferim cursuri pentru copiii care vor să 
        h3 facă primii pași în lumea jurnalismului
        a(href="#"): btn.btn-primary.btn-lg#btn-team Procesul
        a(href="#"): btn.btn-primary.btn-lg#btn-register Înscriere
 



  div.container
    .plans

      div.row
        div.col-md-12.text-center
          img(src="images/kids-drawing.jpeg").about-image
          h1#resized Ce obtine copilul tău de la acest curs?
      div.row
        div.col-md-4.text-center(data-aos="fade-right")
          h1: .fa.fa-comments
          h2 Comunicare eficienta
          p Vrem ca in viata copilul nostru sa capete abilitatile pentru a face selectia in noianul de informatii intre ceea ce este important si ce este neesential si intre adevar si minciuna.
        div.col-md-4.text-center(data-aos="fade-up")
          h1: .fa.fa-level-up
          h2 Dezvoltare personala
          p Limbajul nonverbal spune mai multe despre personalitatea fiecaruia decat multe cuvinte. Important este sa inveti sa observi si sa descifrezi codurile acestui limbaj, pentru a face cele mai bune alegeri,
        div.col-md-4.text-center(data-aos="fade-left")
          h1: .fa.fa-users
          h2 Tehnici pentru a vorbi liber in public

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 



  .pentru-cine
    .overlay
      .text-overlay.text-center(data-aos="fade-up")
        h1 Cui ne adresăm?
        h4 Ne adresăm copiilor care sunt între vârstele 6-9, 10-15, 16-18

  .echipa
    .container.text-center(data-aos="fade-up")
      h1#echipa-h1 Echipa
      div.col-sm-4.card.text-center
        img(src="images/profesor.jpg").card-img
        h2 Stoica Viorel
        h3 Project Manager
      div.col-sm-4.card.text-center
        img(src="images/profesor.jpg").card-img
        h2 Stoica Viorel
        h3 Project Manager
      div.col-sm-4.card.text-center
        img(src="images/profesor.jpg").card-img
        h2 Stoica Viorel
        h3 Project Manager
      div.col-sm-4.card.text-center
        img(src="images/profesor.jpg").card-img
        h2 Stoica Viorel
        h3 Project Manager
      div.col-sm-4.card.text-center
        img(src="images/profesor.jpg").card-img
        h2 Stoica Viorel
        h3 Project Manager
      div.col-sm-4.card.text-center
        img(src="images/profesor.jpg").card-img
        h2 Stoica Viorel
        h3 Project Manager


  .contact.text-center
    h1 Contact
    .container 
      div.col-sm-6(data-aos="fade-right")
        h2 Stoica Viorel
        h4 Presedinte Asociatia Culturala Daria's
        h4: .fa.fa-phone.fa-2x  0736 870 180

      hr.visible-xs
    
      div.col-sm-6(data-aos="fade-left")
        h2 Aurel și Sorina Voica
        h4 Revista Partners
        h4: .fa.fa-phone.fa-2x  0723 263 403

  .footer
    .container
      div.col-sm-3
        h4 Links
        ul 
          li: a(href="#") Acasa
          li: a(href="#") Despre
          li: a(href="#") Contact
          li: a(href="#") Companii
      div.col-sm-3
        h4 Links
        ul 
          li: a(href="#") Acasa
          li: a(href="#") Despre
          li: a(href="#") Contact
          li: a(href="#") Companii
      div.col-sm-3
        h4 Social
        ul 
          li: a(href="#"): .fa.fa-facebook.fa-2x
          li: a(href="#"): .fa.fa-twitter.fa-2x
      div.col-sm-3
        h4 Links
        ul 
          li: a(href="#") Acasa
          li: a(href="#") Despre
          li: a(href="#") Contact
          li: a(href="#") Companii

  
    a(href="#").go-top: .fa.fa-angle-double-up.fa-2x



    script(src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous")
    script(src="js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(src="js/style.js")
    script(src="js/aos.js")
